<aside>
  <div class="aside-title">
    <h5>منتجات تصفحتها مؤخرا</h5>
  </div>
  <div
    *ngFor="let card of cardData"
    class="card mb-3 animate__animated animate__bounceInRight"
    style="max-width: 540px"
  >
    <div class="row g-0">
      <div class="col-lg-4 position-relative">
        <span *ngIf="card.new" class="new-span">جديد</span>
        <span *ngIf="card.offer" class="offer-span">عرض</span>
        <img
          src="{{ card.imageSrc }}"
          class="img-fluid rounded-start"
          alt="card"
        />
        <span class="compare-span">
          <a matTooltipPosition="above" matTooltip="أضف للمقارنة" href="#">
            <img src="assets/icons/compare_arrows_black_24dp.png" />
          </a>
        </span>
      </div>
      <div class="col-lg-8">
        <div class="card-body">
          <h5 class="card-title textOverflow">{{ card.title }}</h5>
          <p *ngIf="card.price != 0" class="card-oldPrice mb-0">
            {{ card.price }} ج.م
          </p>
          <p class="card-text card-price">{{ card.newPrice }} ج.م</p>
          <div
            class="card-text d-flex justify-content-center align-items-center gap-2"
          >
            <div class="shop-card-icon flex-grow-1">
              <a href="#">
                <img src="assets/icons/add_shopping_cart.png" />
              </a>
            </div>
            <div class="heart-card-icon">
              <a href="#">
                <img src="assets/icons/heart-icon.png" />
              </a>
            </div>
            <div class="share-card-icon">
              <a href="#">
                <img src="assets/icons/share-24px.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
