<aside>
  <div>
    <h5>منتجات تصفحتها مؤخرا</h5>
  </div>
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4 position-relative">
        <span class="new-span">جديد</span>
        <img
          src="/assets/images/pinc-Tshirt.png"
          class="img-fluid rounded-start"
          alt="..."
        />
        <span class="compare-span">
          <a href="#">
            <img src="assets/icons/compare_arrows_black_24dp.png" />
          </a>
        </span>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">تيشيرت-كم طويل-آرت</h5>
          <p class="card-text">90.00 ج.م</p>
          <div
            class="card-text d-flex justify-content-center align-items-center gap-2"
          >
            <div class="shop-card-icon flex-grow-1">
              <a href="#">
                <img src="assets/icons/add_shopping_cart.png" />
              </a>
            </div>
            <div class="heart-card-icon">
              <a href="#">
                <img src="assets/icons/heart-icon.png" />
              </a>
            </div>
            <div class="share-card-icon">
              <a href="#">
                <img src="assets/icons/share-24px.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
